<% -layout('/layouts/boilerplate') -%>
<div class="animate">

<div class="d-flex">
<div class="card text-dark bg-white mb-3 me-3" style="max-width: 12rem;" id="slptotal">
  <div class="card-body">
    <h5 class="card-title">Total Slp Gained</h5>
    <p class="card-text"><img src="slp.png" id="slpimg" /> <i style="font-size: 12px; margin-left: 10px;"> = 0 / ₱ 0.00</i></p>
  </div>
</div>

<div class="card text-dark bg-white mb-3 me-3" style="max-width: 12rem; min-height: 10rem;" id="slptotal">
  <div class="card-body">
    <h5 class="card-title">Daily Slp Gained</h5>
    <p class="card-text"><img src="slp.png" id="slpimg" /><i style="font-size: 12px; margin-left: 10px;"> = 0 / ₱ 0.00</i></p>
  </div>
</div>
</div>
<button type="button" id="but" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Scholar
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="" action="/profile" method="POST">
            <label for="ronName">Name</label>
            <input type="text" class="form-control form-control-sm" name="ronName" id="ronName">
            <label for="address">Ronin Address</label>
            <input type="text" class="form-control form-control-sm" name="address" id="address" placeholder="Add Ronin Address">
            <label for="mshare">Manager Share (%)</label>
            <input type="number" class="form-control form-control-sm" name="mshare" id="mshare" value="100" min="0" max="100">
          
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit">Submit</button>
     
      </div>
    </form>
    </div>
  </div>
</div>
</div>
<div class="table-responsive" id="tableres">
  <table class="table align-middle table-light mb-auto  table-bordered table-hover">
    <thead class="table-danger">
    <tr class="align-bottom">
      <th class="text-center"> Name</th>
      <th class="text-center">Ingame SLP</th> 
      <th class="text-center">SLP Today</th>
      <th class="text-center">SLP Yesterday</th>
      <th class="text-center">SLP Total</th>
      <th class="text-center">Rank/MMR</th> 
      <th class="text-center">Manager</th>    
      <th class="text-center">Scholar</th>   
      <th class="text-center">Claim Date</th>
      <th class="text-center">Last Claim</th>
      <th class="text-center" colspan="2">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for (let ron of prof) {%>
     <%let isko = 100-ron.mshare%>
    <tr class="align-center">
        <td class="text-center"><%=ron.ronName%><br>
          <a class="btn btn-secondary" href="https://marketplace.axieinfinity.com/profile/<%=ron.address%>">View in Marketplace</a>
        </td>
        <td class="text-center"><%=ron.ronIngame%></td>
        <td class="text-center"><%=ron.slpToday%></td>
        <td class="text-center"><%=ron.recordYesterday%></td>

        <td class="text-center"><%=ron.ronTotal%></td>
        <td class="text-center"><%=ron.rank%> / <%=ron.ronMMR%></td>
        <td class="text-center"><%=ron.mshare%>% / <%=Math.round(ron.mshare*ron.ronIngame/100)%></td>
        <td class="text-center"><%=isko%>% / <%=Math.round(isko*ron.ronIngame/100)%></td>
        <td class="text-center"><%=ron.ronNextClaim.toDateString()%></td> 
        <td class="text-center"><%=ron.ronLastClaim.toDateString()%></td>
        <td class="text-center">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mymodal<%=ron.id%>">
           Edit
          </button>
          
          </td>  
      <td class="text-center"><form action="profile/delete/<%=ron._id%>" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button></form></td>
        <div class="modal fade" id="mymodal<%=ron.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Scholar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/profile/edit/<%=ron.id%>" method="POST">
                  <label for="ronName" >Name</label>
                  <input type="text" value="<%=ron.ronName%>" name="ronName" class="form-control form-control-sm">
                  <label for="address">Ronin Address</label>
                  <input type="text" value="<%=ron.address%>" name="address" class="form-control form-control-sm">
                  <label for="mshare">Managershare</label>
                  <input type="number" value="<%=ron.mshare%>" name="mshare" class="form-control form-control-sm" min="1" max="100">
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" type="Submit">Save Changes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      <%} %>
      <script>
      </script>
    </tbody>
  </table>
  
</div>
</div>
</div>